@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.hover-underline::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
  margin-top: 2px;
}

.hover-underline:hover::after {
  width: 100%;
}

.active-underline::after {
  width: 100%;
}

.login-underline::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
  margin-top: 2px;
}

.login-underline:hover::after {
  width: 100%;
}

